In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data = pd.read_csv("creditcard.csv")

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
credit_card_data.shape

(284807, 31)

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
#This Dataset is very Unbalanced. So separating data for further analysis.

#0 --- Normal Transaction
#1 --- Fraud Transaction

In [10]:
normal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(normal.shape)

(284315, 31)

In [12]:
print(fraud.shape)

(492, 31)

In [13]:
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
#compare the values for both transaction

credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
#Under-Sampling
#Build a sample dataset containing similar distribution of normal transactions and fraud transactions.

In [18]:
normal_sample = normal.sample(n = 492)

In [19]:
#Concatenation of two DataFrames

new_credit_card_data = pd.concat([normal_sample, fraud], axis = 0) #axis = 0 means the dataset added one by one, all the 492 values wiil be added below the normal_sample.

In [20]:
new_credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
31526,36398.0,0.700918,-2.068451,0.514509,-0.202706,-1.462429,0.922577,-0.917818,0.212001,0.438227,...,0.361093,0.626203,-0.518362,-0.675317,0.526183,0.057294,0.015174,0.066703,343.00,0
71710,54416.0,-0.459345,-0.164999,2.521979,0.342960,-0.583564,1.375512,-0.187984,0.480556,1.256914,...,-0.076314,0.252804,-0.030281,-0.299326,-0.602380,0.289772,0.007035,-0.078057,51.99,0
241397,151009.0,-0.260854,0.049315,1.709005,-0.762225,-0.077438,0.472883,-0.091778,0.114072,0.952890,...,0.416559,1.447428,0.072094,0.782202,-1.282285,-0.551094,0.019923,0.065769,29.95,0
105959,69762.0,-1.694846,-0.070450,2.498739,-0.753366,-0.863360,-1.012253,-0.551375,0.597930,0.038814,...,0.392733,0.611578,-0.132730,0.787621,0.076628,0.982997,-0.142838,-0.103320,47.25,0
244461,152363.0,0.072480,0.901467,-0.345040,-0.611263,0.856270,-0.623219,0.808004,0.073966,-0.196154,...,-0.287370,-0.764153,0.116986,0.639043,-0.493192,0.089237,0.212141,0.074481,4.49,0

In [21]:
new_credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [22]:
new_credit_card_data.shape

(984, 31)

In [23]:
new_credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,88102.433943,-2.411700,1.873143,-3.518229,2.202471,-1.523072,-0.664004,-2.798437,0.271245,-1.287499,...,0.377609,0.033534,-0.026499,-0.031188,0.024674,0.026264,0.091291,0.035041,97.616748,0.500000
std,47759.682658,5.494088,3.649416,6.222884,3.268343,4.241326,1.810392,5.852132,4.907613,2.323658,...,2.805013,1.164989,1.180704,0.549147,0.685077,0.461337,1.012222,0.436095,209.980853,0.500254
min,284.000000,-30.552380,-10.743893,-31.103685,-4.678263,-22.105532,-7.040097,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.154776,-7.263482,-4.092509,0.000000,0.000000
25%,46221.750000,-2.877893,-0.122196,-5.138122,-0.271986,-1.797937,-1.599839,-3.107826,-0.203583,-2.331368,...,-0.162628,-0.518126,-0.245961,-0.379574,-0.311284,-0.285344,-0.061971,-0.065917,1.175000,0.000000
50%,81349.500000,-0.805152,1.001542,-1.361701,1.305164,-0.436688,-0.639502,-0.652167,0.161997,-0.723439,...,0.167445,0.057660,-0.036405,0.015381,0.041208,-0.014000,0.062277,0.033048,18.550000,0.500000
75%,134158.250000,0.917444,2.814266,0.325456,4.250632,0.494931,0.100707,0.266252,0.911796,0.165322,...,0.655130,0.585016,0.179409,0.382316,0.389562,0.329931,0.457144,0.221292,99.990000,1.000000
max,171983.000000,2.360449,22.057729,3.203999,12.114672,11.095089,6.474115,5.802537,20.007208,4.606710,...,27.202839,8.361985,5.933406,1.091435,2.378822,2.745261,3.052358,1.779364,2125.870000,1.000000

In [24]:
new_credit_card_data["Class"].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [25]:
new_credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95458.060976,-0.051451,0.122507,-0.003178,-0.137087,0.105080,0.069729,-0.028144,-0.028145,0.006125,...,0.037233,0.041629,0.053018,-0.012691,0.042754,0.007899,0.000881,0.012007,-0.005585,73.022175
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
X = new_credit_card_data.drop(columns = "Class", axis = 1)
Y = new_credit_card_data["Class"]

In [27]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
31526    36398.0  0.700918 -2.068451  0.514509 -0.202706 -1.462429  0.922577
71710    54416.0 -0.459345 -0.164999  2.521979  0.342960 -0.583564  1.375512
241397  151009.0 -0.260854  0.049315  1.709005 -0.762225 -0.077438  0.472883
105959   69762.0 -1.694846 -0.070450  2.498739 -0.753366 -0.863360 -1.012253
244461  152363.0  0.072480  0.901467 -0.345040 -0.611263  0.856270 -0.623219
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
31526  -0.917818  0.212001  0.438227  ...  0.705276  0.361093  0.626203
71710  -0.187984  0.480556  1.256914  ... -0.043261 -0.076314  0.252804
241397 -0.091778  0.114072  0.952890  ... -0.052440  0.416559  1.447428
105959 -0.551375  0.597930  0.038814  ...  0.105220  0.392733  0.611578
244461  0.808004  0.073966 -0.196154  ... -0.014298 -0.287370 -0.764153
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
31526  -0.518362 -0.675317  0.526183  0.057294  0.015174  0.066703  343.00
71710  -0.030281 -0.299326 -0.602380  0.289772  0.007035 -0.078057   51.99
241397  0.072094  0.782202 -1.282285 -0.551094  0.019923  0.065769   29.95
105959 -0.132730  0.787621  0.076628  0.982997 -0.142838 -0.103320   47.25
244461  0.116986  0.639043 -0.493192  0.089237  0.212141  0.074481    4.49
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [28]:
print(Y)

31526     0
71710     0
241397    0
105959    0
244461    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 1)

In [36]:
print(X.shape)

(984, 30)

In [37]:
print(X_train.shape, X_test.shape)

(787, 30) (197, 30)

In [38]:
model = LogisticRegression()

In [39]:
model.fit(X_train, Y_train)

LogisticRegression()

In [40]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [41]:
print("Accuracy on Training Data: ", training_data_accuracy)

Accuracy on Training Data:  0.9123252858958069

In [42]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [43]:
print("Accuracy on Test Data: ", test_data_accuracy)

Accuracy on Test Data:  0.9035532994923858

In [52]:
credit_card_details = (2,-0.425965884412454,0.960523044882985,1.14110934232219,-0.168252079760302,0.42098688077219,-0.0297275516639742,0.476200948720027,0.260314333074874,-0.56867137571251,-0.371407196834471,1.34126198001957,0.359893837038039,-0.358090652573631,-0.137133700217612,0.517616806555742,0.401725895589603,-0.0581328233640131,0.0686531494425432,-0.0331937877876282,0.0849676720682049,-0.208253514656728,-0.559824796253248,-0.0263976679795373,-0.371426583174346,-0.232793816737034,0.105914779097957,0.253844224739337,0.0810802569229443,3.67)
credit_card_values_as_numpy_array = np.asarray(credit_card_details)
credit_card_details_reshaped = credit_card_values_as_numpy_array.reshape(1,-1)

prediction = model.predict(credit_card_details_reshaped)
print(prediction)

if(prediction[0] == 0):
    print("This Transaction is Normal.")
else:
    print("This Transaction is Fraud.")

[0]
This Transaction is Normal.